:root {
    /* base color & opacity */
    --base: 27, 20, 100;
    --base_100: rgba(var(--base), 1);
    --base_50: rgba(var(--base), 0.5);
    --base_20: rgba(var(--base), 0.2);
    --base_10: rgba(var(--base), 0.1);
    --base_05: rgba(var(--base), 0.05);
    --base_0: rgba(var(--base), 0);

    /* base darker & opacity */
    --base-dk: 8, 6, 31;
    --base-dk_100: rgba(var(--base-dk), 1);
    --base-dk_50: rgba(var(--base-dk), 0.5);
    --base-dk_20: rgba(var(--base-dk), 0.2);
    --base-dk_10: rgba(var(--base-dk), 0.1);
    --base-dk_05: rgba(var(--base-dk), 0.05);
    --base-dk_0: rgba(var(--base-dk), 0);
}

html,
body {
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
        Helvetica Neue, sans-serif;

    background-color: var(--base_100) !important;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

#__next {
    height: 100%;
}

#__next > div {
    height: 100%;
}

.bg {
    background-image: linear-gradient(
        to right,
        var(--base-dk_100),
        var(--base-dk_100) 5%,
        var(--base-dk_0) 35%,
        var(--base-dk_0) 65%,
        var(--base-dk_100) 95%,
        var(--base-dk_100)
    );
}
