html,
body {
    height: 100%;
    padding: 0;
    margin: 0;

    background: radial-gradient(ellipse at top, #030622a8, #000004),
        radial-gradient(ellipse at bottom, #000004, #000004) !important;
    background-blend-mode: normal;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

#__next {
    height: 100%;
}

#__next > div {
    height: 100%;
}

.bg {
    background: radial-gradient(ellipse at top, rgba(18, 14, 68, 1) 10%, transparent 80%),
        radial-gradient(ellipse at bottom, rgba(18, 14, 68, 1) 10%, transparent 80%);
}

.rc-pagination {
    list-style: none;
    display: flex;
}

.apr-stripes {
    background: linear-gradient(
        45deg,
        #01f3af 25%,
        #0d936d 25%,
        #0d936d 50%,
        #01f3af 50%,
        #01f3af 75%,
        #0d936d 75%,
        #0d936d 100%
    );
    background-size: 1em 1em;
    background-repeat: repeat;
    color: transparent;
    font-size: 2.5rem;
    font-weight: 900;
    background-clip: text;

    animation: move 15s infinite linear;
    -webkit-animation: move 15s infinite linear;
}

@-webkit-keyframes move {
    0% {
        background-position: 0% 50%;
    }
    100% {
        background-position: 110% 50%;
    }
}

@keyframes move {
    0% {
        background-position: 0% 50%;
    }
    100% {
        background-position: 110% 50%;
    }
}

:root {
    --swiper-theme-color: #00f89c;
    --swiper-pagination-bullet-inactive-color: #fff;
}
