html,
body {
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
        Helvetica Neue, sans-serif;

    background: radial-gradient(ellipse at top, #030622a8, #000004),
        radial-gradient(ellipse at bottom, #00e59cdb, #000004) !important;
    background-blend-mode: normal;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

#__next {
    height: 100%;
}

.bg {
    background: #020205;
}
.bg-gradient {
    background: radial-gradient(ellipse at top, #0e0e22, transparent),
        radial-gradient(ellipse at bottom, #020c09, transparent);
}
